@media (pointer:coarse) {
    *{
        -webkit-tap-highlight-color: transparent;
    }
    
    html{
        zoom:25%;
    }

    #background{
        height: calc(100lvh * 4);
        width: calc(100lvw * 4);
        background-attachment:scroll;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #opening-screen{
        height: calc(100lvh * 4);
    }
    #opening-center{
        top: calc(50dvh * 4);
        left: calc(50dvw * 4);
    }
    #main-heading .ja-popup{
    top: calc(-0.5vw * 4);
    font-size: calc(2vw * 4);
}

#main-heading .ja-screen:hover{
    --text-shadow-value: calc(0.125vw * 4);
}

    #side-menu-button{
        font-size: 100pt;
        padding: 25px;
        padding-left: 60px;
    }

    #side-menu{
        padding-top: 275px;
        height: 110%;
        padding-left: 40px;
    }

    #side-menu-text{
        padding-bottom: calc(100lvh * 4);
    }

    .menu-option{
        margin-bottom: 20px;
        padding:5px;
    }
    .type0{
        position: relative;
        height: 1px;
        padding: 0;
        background-color: var(--SECONDARY);
        margin-top: 30px;
        margin-bottom: 30px;
        width:650px;
    }
    .type-function{
        font-size: 3em;
        padding-right: 60px;
    }

    .type1{
        font-size: 3.5em;
        padding-right: 60px;
    }
    .type2{
        font-size: 2.2em;
        padding-right: 60px;
    }
    .type3{
        font-size: 1.8em;
        padding-right: 60px;
    }

    .menu-option:hover{
        padding-left:60px;
    }
    .type0:hover{
        padding-left:0px;
    }
    .type-function:hover{
        padding-left: 5px;
    }

    .main-info{
        max-width: calc(40vw * 4);
    }

    h2{
        font-size: 85pt;
    }

    h3{
        font-size: 40pt;
    }
    h4{
        font-size: 30pt;
    }
    h2 .ja-popup{
        top: -50px;
        font-size: 40pt;
        padding: 8px;
        padding-top:10px;
        padding-bottom: 10px;
    }
    h3 .ja-popup{
        top: -42px;
        font-size: 25pt;
        padding: 10px;
    }
    h4 .ja-popup{
        top: -42px;
        font-size: 20pt;
        padding: 10px;
    }
    table .ja-popup{
        top:-40px;
        font-size: 22pt;
        padding: 2px;
        padding-top:8px;
        padding-bottom: 8px;
    }

    .ja-table-title .ja-popup{
        top:-40px;
        padding: 8px;
    }
    .quiz-button{
        font-size: 30pt;
        padding: 6px;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom:15px;
        margin-top:15px;
        border: 4px var(--SECONDARY) solid;
    }

    .descriptor{
        font-size: 25pt;
        max-width: 2000px;
    }

    .inline-ja{
        font-size: 25pt;
        letter-spacing: 0px;
    }
    .inline-ja .ja-popup{
        top:-55px;
        font-size: 25pt;
        padding: 12px;
        font-weight: 600;
        border: 4px var(--SECONDARY) solid;
    }



}

    /* 
    

    

    

    

    

    #main-heading{
        font-size: 30vw;
        width: max-content;
    }

    #main-heading .ja-popup{
        top: -10vw;
        font-size: 15vw;
    }

    #main-heading .ja-screen:hover{
        --text-shadow-value: 1vw;
    }

    #main-subheading{
        font-size: 10vw;
        font-weight: 500;
        width: max-content;
    }

    .main-info, #main-arrow{
        font-size: 6vw;
        width: max-content;
        max-width: calc(65vw*4);
        letter-spacing: -0.15vw;
    }
    .main-info{
        padding-top: 5vw;
    }

    #main-arrow{
        top:2.5vw;
    }
    @keyframes arrow-down{
        0%{top:2.5vw;}
        100%{top:8.5vw;}
    }

    .center{
        margin-bottom: calc(22vw + 1800px);
    }

    table .ja-screen{
        font-size: 32pt;
        --width: 55px;
        min-width: var(--width);
        line-height: var(--width);
        padding: 12px;
        border-radius: 2px;
    }
    
    .ja-screen.singleKana {
        aspect-ratio: 1/1;
        width:70px;
        line-height: 70px;
        font-size: 40pt;
    }

    :not(main) .ja-screen.doubleKana{
        width:00px;
        line-height: 70px;
        font-size: 37pt;
    }

    .ja-popup{
        border: 2px var(--SECONDARY) solid;
        border-radius: 2px;
        padding: 6px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        aspect-ratio: none;
        line-height: 100%;
        z-index: 100;
        
    }

    h2 .ja-popup{
        top: -55px;
        font-size: 35pt;
        padding: 10px;
        padding-top:10px;
        padding-bottom: 10px;
        border: 4px var(--SECONDARY) solid;
    }
    h3 .ja-popup{
        top: -45px;
        font-size: 24pt;
        padding: 12px;
        padding-left: 12px;
        padding-right: 12px;
    }
    table .ja-popup{
        top:-50px;
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 30pt;
    }

    table {
        border-collapse: separate;
        margin-bottom: 50px;
    }

    td:not(:empty), th:not(:empty){
        border: 3px var(--SECONDARY) solid ;
        color: var(--SECONDARY);
        background-color: var(--PRIMARY);
    }

    #particle-container{
        margin-top: 8px;
        grid-template-columns: repeat(3, 470px);
        column-gap: 15px;
        row-gap: 15px;
    }
    .quiz-button{
        font-size: 21pt;
        top:18px;
        right:10px;
        padding: 12px;
        padding-left: 22px;
        
    }
    .quiz-button:hover{
    color: var(--SECONDARY);
    border: 1px var(--SECONDARY) solid ;
    background-color: var(--PRIMARYalpha);
    }
    .quiz-button:active{
    color: var(--SECONDARY);
    border: 1px var(--SECONDARY) solid ;
    background-color: var(--PRIMARYalpha);
    }
    .quiz-container{
        height: 820px;
        margin-bottom: 45px;
    }
    .quiz-letter-display{
        --height: 300px;
        width: 600px;
        height: var(--height);
        line-height: var(--height);
        font-size:140pt;
    }
    .quiz-input-box{
        width: 425px;
    }
    
    #intro-text-title{
        font-size: 45pt;
        padding-top: 30px;
        font-weight: 500;
    }
    #intro-text-title .ja-screen{
        border-radius: 2px;
        padding-left: 8px;
        padding-right: 8px;
    }
    #intro-text{
        width: 1300px;
        text-align: justify;
        padding: 8px;
        font-size:22pt;
        font-weight: 400;
        letter-spacing: -4px;
    }
    .space{
        height: 15px;
    }

    h2{
        margin-top: 70px;
        font-size: 70pt;
        margin-bottom: 0px;
    }
    h3{
        font-size: 45pt;
        padding-top: 30px;
    }

    .descriptor{
        font-size: 25pt;
        width:1380px;
        padding: 20px;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        border: 10px var(--SECONDARY) double;
    }
    .inline-ja{
        font-size: 25pt;
        letter-spacing: 0px;
    }
    .inline-ja .ja-popup{
        top:-55px;
        font-size: 25pt;
        padding: 12px;
        font-weight: 600;
        border: 4px var(--SECONDARY) solid;
    }

    .particle-area {
        padding: 14px 14px 0px 14px;
    }

    .particle-area table .ja-screen {
        font-size: 40pt;
        --width: 75px;
        min-width: var(--width);
        line-height: var(--width);
        padding: 15px;
        margin:-2px;
        border-radius: 2px;
    }

    .particle-area table .ja-screen.moreParticle{
        padding-left: 25px;
        padding-right: 25px;
    }

    main{
        border: 3px var(--SECONDARY) solid !important;
        min-height: 115px;
    }

    main p{
        font-size: 15pt;
        line-height: 100%;
        font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }

} */